
h1 {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    font-size: 2.5em;
}

#score {
    font-family: 'Inconsolata', monospace;
    font-size: 1.5em;
}

.grid {
    height: 400px;
    width: 200px;
    background-color: #83B5D1;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 20px;
    width: 20px;
}

.tetromino {
    background-color: green;
}

.containerOut {
    display: flex;
    width: 80%;
    margin: 0 auto;
    background-image: linear-gradient(to right, #7F557D, #7698B3,#7F557D);
}

button {
    height: 5%;
    background-color: #878d96;
    width: 75px;
    font-family: 'Inconsolata', monospace;
}

.center {
    display: flex;
    justify-content: right;
    float: right;
    align-items: center;
  }

.containerIn {
    display: flex;
    width: 50%;
    margin: 0 auto;
}

    

h3 {
    margin-left: 35px;
    margin-top: 95px;
    height: 28px;

}

body {
    background-color: #7F557D;
}